*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

p,
h2 {
    text-align: center;
}

.info-field {
    direction: rtl;
    text-align: center;
}

.info-field p,
span {
    display: inline;
}

nav.nav-wrapper {
    background-color: #009EBD;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

h2.ticket-title {
    font-size: 2em;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

section#info {
    margin-bottom: 20px;
}

section#info p {
    font-size: 1.1em;
    font-weight: bold;
}

section#info span {
    font-size: 1.1em;
}

section#slider {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.error-img {
    background-color: #60acc4;
    color: white;
    position: absolute;
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    padding: 0 3px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding-top: 50px;
}

.no-attach {
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

.zoom-button {
    position: absolute;
    left: 0;
    height: 40px;
}

.carousel-container {
    position: relative;
    bottom: 0;
    width: calc(100vw - 20px);
    display: flex;
    flex-direction: column;

}

.carousel-track-container {
    height: 100%;
    overflow: hidden;
    width: calc(100vw - 40px);
    align-self: center;
    margin-top: 3%;
    margin-bottom: 10px;
}

.carousel-track-container .carousel-track {
    height: 100%;
    /* width would be 100% times the number of the images used in the slider */
    width: 200%;
    position: relative;
    display: flex;
    transition: 500ms ease-out;
    border-radius: 20px;
}

.shading-strip {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    width: calc(100vw - 40px);
    height: 40px;
    border-radius: 0 0 10px 10px;
    z-index: 9;
}

.shading-strip-dark {
    background: rgba(0, 0, 0, 0.7);
}

.carousel-slide {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    width: calc(100vw - 40px);
    display: flex;
    justify-content: center;
}

.carousel-slide img {
    position: absolute;
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    padding: 0 3px;
}

.media-wrapper .playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 50px;
    height: 50px;
    z-index: 99;
}

.media-wrapper {
    /* position: absolute; */
    align-self: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 0 3px;
}


video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}

/* video::-webkit-media-controls-panel{
    margin-bottom: 50px;
    background: unset;
} */
audio::-webkit-media-controls-panel {
    border-radius: 0px;
}

.carousel-slide.video {
    height: calc(100% - 40px);
}

.carousel-slide a[download] {
    height: 50px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 30px 0 30px;
}

.carousel-slide a[download] img {
    width: 30px;
    position: relative;
}

.carousel-slide a[download] p {
    align-self: center;
    font-size: 1.1em;
}

.carousel-action {
    position: absolute;
    bottom: 0;
    height: calc(100% - 36px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #60acc4;
    border-radius: 10px 10px 0 0;

}

.carousel-action .slide-btn {
    cursor: pointer;
    z-index: 9;
}

.btn {
    margin: 30px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 208, 0, 0.68);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn img {
    width: 26px;
    height: 26px;
}

.carousel-indicator {
    display: flex;
    list-style: none;
    justify-content: center;
}

.carousel-indicator {
    height: 50px;
    border-radius: 10px 10px 0 0;
    background: #e4e4e8;
}

.carousel-indicator .indicator {
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carousel-indicator .indicator {
    padding-bottom: 10px;
}

.carousel-indicator .indicator.active {
    background: #60acc4;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
}

#attachment-index {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.open {
    display: flex;
}

.popup-img-wrapper {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #60acc4;
    border-radius: 5px;
}

.popup .slide-btn {
    position: absolute;
    z-index: 9;
}

.popup-img-wrapper .close-btn {
    margin-top: 3%;
    margin-right: 3%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.popup-img-wrapper .close-btn img {
    width: 26px;
}

#popup-prev-btn {
    left: 0px;
}

#popup-next-btn {
    right: 0px;
}

.popup .popup-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 90vh;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.hide {
    display: none;
}

.converted {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.converted span {
    font-size: 1.3em;
    color: #ffffff;
    margin-bottom: 10px;
}

@media (max-width: 899px) {
    section #slider {
        height: 100%;
        overflow: hidden;

    }

    .carousel-container {
        /* height: 100%; */
        overflow: hidden;
    }

    .carousel-slide.video .media-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-slide.video.vertical video {
        height: 100%;
        width: auto;
    }

    .carousel-slide video {
        position: absolute;
        height: auto;
        width: 100%;
        object-fit: contain;
    }

    /* .carousel-slide video::-webkit-media-controls-panel {
        position: absolute;
        align-self: center;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    } */

    .carousel-slide audio {
        align-self: center;
    }

}

@media (min-width: 900px) {
    .nav-logo {
        margin-right: 50px;
        object-position: right top;
    }

    main {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    section#info {
        width: 30%;
        margin: auto;
    }

    section#info h2.ticket-title {
        font-size: 2.5em;
        width: 250px;
    }

    section#info p {
        font-size: 1.3em;
    }

    section#info span {
        font-size: 1.3em;
    }

    section#slider {
        width: 60%;
        min-height: 40vh;
        max-height: 60vh;
        margin: auto;
    }

    .carousel-container {
        width: 100%;
    }

    .shading-strip {
        /* position: absolute; */
        width: calc(100% - 40px);
    }

    .carousel-track-container {

        margin-top: 10px;
        width: calc(100% - 40px);
    }

    .carousel-indicator {
        line-height: 13px;
        width: 50%;
        align-self: self-end;
    }

    .carousel-slide img {
        /* position: absolute;
        object-fit:contain;
        align-self: center;
        height: 100%;
        width: 100%;
        border-radius: 10px; */
    }

    .carousel-slide.video .media-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-slide.video.vertical video {
        height: 100%;
        width: auto;
    }

    .carousel-slide video {
        position: absolute;
        height: auto;
        width: 100%;
        align-self: center;
        object-fit: contain;
        padding: 0 5px;
    }


    .carousel-indicator .indicator {
        padding: 0 10px 0 10px;
    }

    .carousel-container {
        position: relative;
    }

    .carousel-action {
        border-radius: 10px;
    }
}

@media (min-width: 1500px) {
    .carousel-slide video {
        width: 70%;
    }
}